@model MoviesManagment.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<div class="details-container">
    <h2 class="title">Dane Filmu pobrane z API</h2>
    <p class="details"><strong>Tytu³:</strong> @Model.Title</p>
    <p class="details"><strong>Rok produkcji:</strong> @Model.ReleaseYear</p>
    <p class="details"><strong>Re¿yser:</strong> @Model.Director</p>
    <p class="details"><strong>Gatunki:</strong> @Model.Genres</p>
    <p class="details"><strong>Gwiazdy:</strong> @Model.Stars</p>
    <p class="details"><strong>Ocena:</strong> @Model.ImdbRating</p>
    @using (Html.BeginForm("Edit", "Movies", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.ReleaseYear)
        @Html.HiddenFor(model => model.Director)
        @Html.HiddenFor(model => model.Genres)
        @Html.HiddenFor(model => model.Stars)
        @Html.HiddenFor(model => model.ImdbRating)

        @(Html.Kendo().Button()
            .Name("submit")
            .Content("Zapisz Dane")
            .HtmlAttributes(new { type = "submit", style = "background-color: green; color: white; margin-inline-start: 0;" })
            )
    }
</div>
